{% extends 'base.html'%}
{% block content %}
    <h1>SignUp</h1>
    
    <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text" value="">
        <br>
        Password:
        <br>
        <input name="password" type="password" value="">
        <br>
        confirm Password:
        <br>
        <input name="password2" type="password" value="">
        <br>
        <br>
        <input class="btn-sm btn btn-outline-primary" type="submit" value="signup">
    </form>

{% endblock %}