{% extends 'base.html' %}
{% block content %}

<h1>블로그 홈</h1>
<a class="btn-sm btn btn-outline-primary" href="{% url 'edit' blog.id %}" >글 수정하기</a>
<a class="btn-sm btn btn-outline-primary" href="{% url 'delete' blog.id %}" >삭제</a>
<a class="btn-sm btn btn-outline-primary" href="{% url 'home' 1%}" >돌아가기</a>
<br><br>
<div class="col-8">
<table class="table">
        <tr>
            <th width="30%">제목     :</th>
            <td>{{ blog.title }}</td>
        </tr>
        <tr>    
            <th width="30%">글쓴이  :</th>
            <td>{{ blog.writer }}</td>
        </tr>
        <tr>
            <th width="30%">내용    :</th>
            <td>{{ blog.body }}</td>
        </tr>
    </table>
</div>
{% endblock %}