{% extends 'base.html' %}
{% block content %}

<h1>글 수정하기</h1>
<br>
<div class="col-8">
<form action="{% url 'update' blog.id %}" method="POST">
    {% csrf_token %}
    <table class="table">
        <tr>
            <th>제  목    :</th>
            <td><input type="text" name="title" value="{{ blog.title }}"></td>
        </tr>
        <tr>
            <th>글쓴이 :</th>
            <td><input type="text" name="writer" value="{{ blog.writer }}"></td>
        </tr>
        <tr>
            <th>내  용    :</th>
            <td><textarea name="body" style="resize:none; width:100%">{{ blog.body }}</textarea></td>
        </tr>
    </table>
    <button class="btn-sm btn btn-outline-primary" type="submit">제출하기</button>
    <button class="btn-sm btn btn-outline-primary" type="button"><a href="{% url 'home' 1%}">취소</a></button>
</form>
</div>
{% endblock %}